.new_arrivals .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.new_arrivals .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_arrivals .swiper-wrapper {
  padding-bottom: 60px;
}
.new_arrivals .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
